RESEND_API_KEY=
RESEND_FROM_EMAIL="Maria Schnee Website <website@mariaschnee-pflege.de>"
FORM_RECIPIENT_EMAIL=verwaltung@pflegedienst-mariaschnee.de
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
